.modal{
    height: 300px;
    width: 300px;
    background-color: red;
    position: absolute;
    transform: translate(50%, -50%);
    right:50%;
    top:-300px;
    display:flex;
    justify-content: space-between;
    transition: top 0.5s;
    z-index: 100;
}
.close{
    font-size: 40px;
    margin:0px;
    cursor: pointer;
}
.overflow {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.2);
}
input {
    transition: .5s ease-in;
}
.border-red {
    border: 2px solid red;
}
.none {
    position: absolute;
    top: 14px;
    color: red;
    display: none;
}
.showError {
    display: block;
}